<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        let version = "{{ .Version }}"

        let timestamp = 0

        let valuesMap = new Map()
        let valuesArray = []

        let pathname = window.location.pathname
        let datapath = pathname + ".json"

        let thead = $("<tr>" +
            "<th>Icon</th>" +
            "<th>Count</th>" +
            "<th>Name</th>" +
            "<th>Links</th>" +
            "<th>Locations</th>" +
            "</tr>")

        function update_time() {
            secs = Date.now() / 1000
            diff = secs - timestamp
            days = Math.floor(diff / 86400)
            hours = Math.floor(diff / 3600 % 24)
            minutes = Math.floor(diff / 60 % 60)
            seconds = Math.floor(diff % 60)
            timestr = ""
            if (days != 0) {
                timestr += days + " days "
            }
            if (hours != 0) {
                timestr += hours + " hours "
            }
            if (minutes != 0) {
                timestr += minutes + " minutes "
            }
            if (seconds != 0) {
                timestr += seconds + " seconds "
            }

            $("#gentime").text(timestr.trim())
        }

        function update_time_wrap() {
            update_time()

            setTimeout(update_time_wrap, 5 * 1000) // 5sec
        }

        function item_id_to_wikilink(id) {
            var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/="

            let bytes = [2, 1]
            bytes.push(id & 0xFF)
            bytes.push((id >> 8) & 0xFF)
            bytes.push((id >> 16) & 0xFF)
            bytes.push(0)

            let chat = "[&"
            chat += keyStr[bytes[0] >> 2]
            chat += keyStr[((bytes[0] & 3) << 4) | (bytes[1] >> 4)]
            chat += keyStr[((bytes[1] & 15) << 2) | (bytes[2] >> 6)]
            chat += keyStr[bytes[2] & 63]
            chat += keyStr[bytes[3] >> 2]
            chat += keyStr[((bytes[3] & 3) << 4) | (bytes[4] >> 4)]
            chat += keyStr[((bytes[4] & 15) << 2) | (bytes[5] >> 6)]
            chat += keyStr[bytes[5] & 63]
            chat += "]"

            let url = "https://wiki.guildwars2.com/index.php?title=Special%3ASearch&search=" + encodeURIComponent(chat) + "&go=Go"

            return url
        }

        function load_data() {
            return $.getJSON(datapath, null, function (data) {
                if (version != "{" + "{ .Version }}" && data.Version != version) {
                    $("#version").text("refresh required - " + version)
                    return
                }
                if (version == "{" + "{ .Version }}") {
                    $("#version").text(data.Version)
                }

                timestamp = data.Timestamp
                update_time()

                valuesArray = []

                data.Objects.forEach((element, index) => {
                    if (valuesMap.has(element.Hash) && JSON.stringify(valuesMap.get(element.Hash).obj) == JSON.stringify(element)) {
                        valuesArray.push(valuesMap.get(element.Hash))
                        return // continue
                    }

                    locelm = "<ul>"
                    if (element.Locations.SharedInventoryCount != 0) {
                        locelm += "<li>" + element.Locations.SharedInventoryCount + " in SharedInventory</li>"
                    }
                    if (element.Locations.MaterialStorageCount != 0) {
                        locelm += "<li>" + element.Locations.MaterialStorageCount + " in MaterialStorage</li>"
                    }
                    if (element.Locations.BankCount != 0) {
                        locelm += "<li>" + element.Locations.BankCount + " in Bank</li>"
                    }
                    if (element.Locations.LegendaryArmoryCount != 0) {
                        locelm += "<li>" + element.Locations.LegendaryArmoryCount + " in LegendaryArmory</li>"
                    }
                    if (element.Locations.CurrencyCount != 0) {
                        locelm += "<li>" + element.Locations.CurrencyCount + " in Wallet</li>"
                    }
                    for (const [char, cloc] of Object.entries(element.Locations.Characters)) {
                        if (cloc.Bags != 0) {
                            locelm += "<li>" + cloc.Bags + " as bags of " + char + "</li>"
                        }
                        if (cloc.InventoryCount != 0) {
                            locelm += "<li>" + cloc.InventoryCount + " in inventory of " + char + "</li>"
                        }
                        if (cloc.EquipedCount != 0) {
                            locelm += "<li>" + cloc.EquipedCount + " equiped by " + char + "</li>"
                        }
                    }
                    for (const [guild, count] of Object.entries(element.Locations.GuildStashCount)) {
                        if (count != 0) {
                            locelm += "<li>" + count + " in GuildStash for " + guild + "</li>"
                        }
                    }
                    locelm += "</ul>"

                    apilink = ""
                    wikilink = ""
                    switch (element.Type) {
                        case "item":
                            apilink = "<a href='https://api.guildwars2.com/v2/items?ids=" + element.ID + "'>" + element.ID + "</a>"
                            wikilink = "<a href='" + item_id_to_wikilink(element.ID) + "'>wiki</a>"
                            break;
                        case "currency":
                            apilink = "<a href='https://api.guildwars2.com/v2/currencies?ids=" + element.ID + "'>" + element.ID + "</a>"
                            let safename = element.Name.replace(" ", "_")
                            safename = safename.replace("'", "%27")
                            wikilink = "<a href='https://wiki.guildwars2.com/wiki/" + safename + "'>wiki</a>"
                            break;
                        default:
                            apilink = "" + element.ID
                            wikilink = "wiki"
                            break;
                    }

                    count = "" + element.Locations.Total
                    if (element.Type == "currency" && element.ID == 1) { // handle gold specially
                        count = Math.floor(count / 100 / 100) + "g" + Math.floor(count / 100 % 100) + "s" + Math.floor(count % 100) + "c"
                    }

                    imgclass = "currency"
                    if (element.Type == "item") {
                        imgclass = "item " + element.Rarity
                    }

                    favlink = "<a href='#' class='fav' onclick=update_fav('" + element.Hash + "')></a>"

                    tr = $("<tr>" +
                        "<td>" + "<img width=64 height=64 class='" + imgclass + "' src='" + element.Icon + "'>" + "</td>" +
                        "<td>" + count + "</td>" +
                        "<td>" + element.Name + "</td>" +
                        "<td>" + favlink + "<br />" + wikilink + "<br />" + apilink + "</td>" +
                        "<td>" + locelm + "</td>" +
                        "</tr>")

                    valuesMap.set(element.Hash, { obj: element, dom: tr })
                    valuesArray.push(valuesMap.get(element.Hash))
                });

                update_results()
            })
        }

        function load_data_wrap() {
            load_data().always(
                setTimeout(load_data_wrap, 30 * 1000) // 30sec
            )
        }

        function search_string(loc) {
            str = ""
            if (loc.SharedInventoryCount != 0) {
                str += " SharedInventory"
            }
            if (loc.MaterialStorageCount != 0) {
                str += " MaterialStorage"
            }
            if (loc.BankCount != 0) {
                str += " Bank"
            }
            if (loc.LegendaryArmoryCount != 0) {
                str += " LegendaryArmory"
            }
            if (loc.CurrencyCount != 0) {
                str += " Wallet"
            }
            for (const [char, cloc] of Object.entries(loc.Characters)) {
                str += " " + char
                if (cloc.Bags != 0) {
                    str += " as bags"
                }
                if (cloc.InventoryCount != 0) {
                    str += " inventory"
                }
                if (cloc.EquipedCount != 0) {
                    str += " equiped"
                }
            }
            for (const [guild, count] of Object.entries(loc.GuildStashCount)) {
                str += " " + guild
                if (count != 0) {
                    str += " GuildStash"
                }
            }

            return str
        }

        function update_results() {
            $("#items tr").detach()
            $("#items > tbody:last-child").append(thead)
            let favs = localStorage.getItem("favorites")
            if (favs == null) {
                favs = "[]"
            }
            let fav = JSON.parse(favs)
            valuesArray.forEach(element => {
                // console.log(element.obj.Name, $("#search").val())
                if (fav.includes(element.obj.Hash) && (
                    element.obj.Name.toLowerCase().includes($("#search").val().toLowerCase()) ||
                    search_string(element.obj.Locations).toLowerCase().includes($("#search").val().toLowerCase())
                )) {
                    element.dom.find("a.fav").text("unfav")
                    $("#items > tbody:last-child").append(element.dom)
                }
            })
            valuesArray.forEach(element => {
                // console.log(element.obj.Name, $("#search").val())
                if (!fav.includes(element.obj.Hash) && (
                    element.obj.Name.toLowerCase().includes($("#search").val().toLowerCase()) ||
                    search_string(element.obj.Locations).toLowerCase().includes($("#search").val().toLowerCase())
                )) {
                    element.dom.find("a.fav").text("fav")
                    $("#items > tbody:last-child").append(element.dom)
                }
            })
        }

        function update_fav(hash) {
            let favs = localStorage.getItem("favorites")
            if (favs == null) {
                favs = "[]"
            }
            let fav = JSON.parse(favs)
            if (!fav.includes(hash)) {
                fav.push(hash)
            } else {
                var i = 0;
                while (i < fav.length) {
                    if (fav[i] === hash) {
                        fav.splice(i, 1);
                    } else {
                        ++i;
                    }
                }
            }
            localStorage.setItem("favorites", JSON.stringify(fav))

            update_results()
        }

        // on page load
        $(function () {
            $("#version").text(version)

            load_data_wrap()

            $("#search").on('input', update_results)

            update_time_wrap()

            $("#search").focus()
        })
    </script>
    <style>
        table,
        td,
        th {
            border: 1px solid;
            border-collapse: collapse;
        }

        body,
        #header {
            background-color: #202020;
            color: white;
        }

        html,
        body {
            margin: 0;
        }

        a:visited,
        a:link {
            color: gray;
        }

        a:hover {
            color: white;
        }

        a {
            line-height: 150%;
        }

        #header {
            position: sticky;
            top: 0;
        }

        #content {
            overflow: auto;
            height: calc(100% - 4rem);
        }

        img.item,
        img.currency {
            border: 3px solid;
            margin: .5rem;
        }

        img.currency {
            border-color: white;
        }

        img.Junk {
            border-color: #AAAAAA;
        }

        img.Basic {
            border-color: #000000;
        }

        img.Fine {
            border-color: #62A4DA;
        }

        img.Masterwork {
            border-color: #1A9306;
        }

        img.Rare {
            border-color: #FCD00B;
        }

        img.Exotic {
            border-color: #FFA405;
        }

        img.Ascended {
            border-color: #FB3E8D;
        }

        img.Legendary {
            border-color: #4C139D;
        }
    </style>
</head>

<body>
    <div id="header">
        <br />
        Search: <input type="text" id="search" />
        Version: <span id="version"></span>
        Generated <span id="gentime"></span> ago
        <hr>
    </div>
    <div id="content">
        <table id="items" style="border-width:1px;">
            <tbody>
            </tbody>
        </table>
    </div>
</body>

</html>
